@{
    ViewBag.Title = "About";
}

<h1>@ViewBag.Title</h1>
<h2>A simple, effective beverage manager</h2>

<p>This web app allows you to manage a database of beverages. You can create, update and delete from the database, as well as search through
    it.</p>

<h2>How to Use</h2>

<div style="background-color:snow; padding:20px; padding-top:0px; display:inline-block; border-radius: 25px">
    <h5 style="color:crimson; margin-top:20px">Remember to register for an account and log in first! You must do so before accessing the database.</h5>
    <div style="display:inline-block; width:300px; margin-right:100px; margin-top:-10px">
        <h3>Creating</h3>
        <p>Create an entry in the database by clicking on the Create New button at the top of the Beverages Database page. Then enter the information needed.</p>

        <h3>Updating</h3>
        <p>Remove an entry in the beverage list by clicking "Delete" near its instance in the list.</p>
    </div>
    <div style="display:inline-block; width:300px; margin-top:-10px">
        <h3>Deleting</h3>
        <p>Remove an entry in the beverage list by clicking "Delete" near its instance in the list.</p>

        <h3>Searching</h3>
        <p>Searching is easy. Enter the information you want to search by; for instance, a beverage's name. Next, press the "Submit" button, and view the results.</p>
    </div>
</div>



