@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kalamazoo Valley Community College <br />
    6767 W O Ave<br />
    Kalamazoo, MI 49009<br />
    <abbr title="Phone">P:</abbr>
    269.488.4400
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zacharydwyer@mywebsite.com">Support@example.com</a><br />
</address>